
#bg-video{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
#main{
	margin-top: 50px;
	padding-top: 40%;
    position: relative;
    overflow: hidden;
	&::before{
    content: "";
    display: block;
    position: absolute;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/top/dot.png) repeat;
	}
	.txt_wrap{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 99;
		width: 100%;
		box-sizing: border-box;
		padding: 0 10px;
		color: #fff;
		text-align: center;
		h1{
			margin: 0;
			margin-bottom: 15px;
			font-size: 37px;
			line-height: 1.3;
		}
		.ver_txt{
			font-size: 60%;
			display: block;
		}
		.btn-primary{
			font-size: 20px;
			a{
				text-decoration: none;
				color: #fff;
			}
		}
	}
}
.icon_pdf{
	font-size: 70px;
	text-align: center;
	margin-bottom: 45px;
}
.container_st{
	margin-top: 35px;
}
.ttl{
	border-left: 5px solid #000;
	padding-left: 10px;
	font-size: 18px;
	margin-bottom: 15px;
	+ .txt{
		font-size: 14px;
		margin-bottom: 0;
	}
}

.sns_btn{
	position: absolute;
	top: 150px;
	left: 0;
	z-index: 99;
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		
		li{
			line-height: 1.3;
			margin-bottom: 6px;
			transform: translateX(-270%);
			transition: transform 0.4s ease-in-out;
			&:last-child{
				margin-bottom: 0;
				transition-delay: 0.3s;
			}
			a{
				font-size: 14px;
				display: inline-block;
				text-decoration: none;
				color: #fff;
				-webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
			-webkit-text-orientation: upright;
    text-orientation: upright;
				border-radius: 2px;
				padding: 9px 4px;
				transition: opacity 0.6s ease-in-out;
				&:hover{
					opacity: 0.6;
				}
			}
			.fa{
				margin-bottom: 3px;
				transform\0: rotate(-90deg);
			}
			&:first-child{
				a{
					background: #55acee;
				}
				
			}
			&:nth-child(2){
				a{
					background: #3B5998;
				}
				
		}
		}
		
	}
	&.sns_btn_on{
		ul li{
			transform: translateX(0%);
		}
	}
}

@media screen and (max-width:1300px){
	#main .txt_wrap h1{
		font-size: 30px;
	}
	#main .txt_wrap .btn-primary{
		font-size: 15px;
	}
	.ttl{
		font-size: 16px;
	}
}
@media screen and (max-width:900px){
	#main .txt_wrap h1{
		font-size: 24px;
	}
	#main .txt_wrap .btn-primary{
		font-size: 13px;
	}
}
@media screen and (max-width:991px){
	.row_icon .col-md-4:not(:first-child){
		margin-top: 25px;
	}
}
@media screen and (max-width:767px){
	#main{
		padding-top: 56.3%;
	}
	#main .txt_wrap h1{
		font-size: 18px;
		letter-spacing: -0.05em;
	}
	#main .txt_wrap .ver_txt{
		font-size: 80%;
	}
	#main .txt_wrap .btn-primary{
		font-size: 12px;
	}
	.icon_pdf{
		font-size: 58px;
		margin-bottom: 30px;
	}
	.ttl{
		font-size: 15px;
		margin-bottom: 6px;
	}
	.ttl + .txt{
		font-size: 13px;
	}
	.row_icon .col-md-4:not(:first-child){
		margin-top: 17px;
	}
	.sns_btn{
		top: 70px;
	}
	.sns_btn ul li a{
		font-size: 12px;
	}
}
@media screen and (max-width:640px){
	.sns_btn ul li a{
		font-size: 10px;
	}
	#main{
		padding-top: 75.3%;
	}
	#bg-video{
		width: 133%;
		transform: translate(-50%,-50%);
		top: 50%;
		left: 50%;
	}
}
@media screen and (max-width:330px){
	#main .txt_wrap h1{
		font-size: 16px;
	}
}
